body {
    background-color: rgba(247, 247, 249, 0.2);
}

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(127, 127, 127, 0.2);
}

.editor-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 84vh;
}
.editor {
    flex: 1;
    width: 48%;
    margin: 0 1%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid rgba(39, 64, 101, 0.3);
}
.viewer {
    flex: 1;
    overflow: auto;
    /* white-space: nowrap;
    word-wrap: normal;
    overflow-wrap: normal; */
    width: 48%;
    margin: 0 1%;
    height: 100%;
    line-height: 1.67;
    background-color: #eef4f7;
    border-radius: 5px;
    border: 2px solid rgba(39, 64, 101, 0.3);
}

.view-text {
    font-size: 18px;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
}

.CodeMirror{
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 18px;
    line-height: 1.33;
    height: 100%;
    background-color: #eef4f7;
    border-radius: 5px;
}
.d2h-diff-table {
    font-size: 16px; /* diff 的字体 */
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
}

.selector {
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgba(223, 239, 243, 0.2); 
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid rgba(39, 64, 101, 0.7);
}
select:hover {
    border: none;
    box-shadow: 0px 0px 3px 3px #6d0404;
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -20px;
    background-color: rgb(48, 45, 45);
    color: #d0c8c8;
    text-align: left;
    font-size: 1rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    padding: 20px 20px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip-inner {
    white-space: pre-line;
}

.back-to-top {
    position: fixed;
    z-index: 100;
    font-size: 2rem;
    opacity: 0.8;
    bottom: 55vh;
    right: 2vw;
    display: none;
    cursor: pointer;
}
.back-to-bottom {
    position: fixed;
    z-index: 100;
    font-size: 2rem;
    opacity: 0.8;
    bottom: 47vh;
    right: 2vw;
    display: none;
    cursor: pointer;
}
.show {
    display: block;
}

label:hover {
    box-shadow: 0px 0px 3px 3px #df8219;
    cursor: pointer;
}
.check-box {
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-left: 0.05%;
    margin-right: 0.05%;
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
}
#check-str2json {
    vertical-align: middle;
    accent-color: rgba(21, 54, 86, 0.2);
}
#check-sortkey {
    vertical-align: middle;
    accent-color: rgba(21, 54, 86, 0.2);
}
#check-wrap {
    vertical-align: middle;
    accent-color: rgba(21, 54, 86, 0.2);
}
#check-simple-array-wrap {
    vertical-align: middle;
    accent-color: rgba(21, 54, 86, 0.2);
}

.button {
    text-align: center;
    width: 5rem;
    height: 2rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgba(223, 239, 243, 0.2); 
    border: 1px solid #ccc; 
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 2px solid rgba(39, 64, 101, 0.7);
}
.button:hover {
    box-shadow: 0px 0px 3px 3px #0c5986;
    cursor: pointer;
    border: none;
}

.fullscreen {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 9999;
    background-color: #eef4f7;
}

.popup {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 10vh;
    left: 45vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 3rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgb(243, 212, 183);
    border: none; 
}

.input-container {
    margin: 15px auto 0;
    text-align: center;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rgba(39, 64, 101, 0.7);
    background: transparent;
    width: 20rem;
    height: 1.6rem;
    color: rgb(180,20,20);
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid rgb(180,20,20);
}

#button-list ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 5vh 10px 5vh 0; 
    list-style: none;
    height: 70vh;
}
#button-list li {
    list-style-type: none;
}
